.table_head_bg{
    background-color: rgb(47, 129, 222) !important;
    color:whitesmoke !important;
    font-weight: bolder !important;
    margin: 0;
    padding: 0;
}

.left_orientation{
    text-orientation: mixed;
}
